body {
    background-color: #000;

}
.back-btn {
    /* padding: 7% 15%; */
    text-align: center;
}
/* length css */

.len-heading {
    font-family: "Sacramento";
    font-weight: bold;
    align-items: center;
    text-align: left;
    padding: 2% 20%;
    color: #fff;
    background-color: #40DFEF;
    font-size: 4.25rem;

}
.length-box {
    align-items: center;
    text-align: center;
    box-shadow: inset;
    color: #f34;
    background-color: rgba(255,255,255,0.13);
    border: 5px solid rgba(25, 234, 129, 0.1);
    box-shadow: 0 0 40px rgba(7, 244, 62, 0.6);
    border-radius: 20px;
    font-size: 1.6rem;
    font-family: "Montserrat";
    width: 800px;
    height: 200px;

    margin: 5% 25%;
    /* border: 10%;  */
    padding-top: 2%;
    /* padding-bottom: 2%;  */

}

.target {
    transform: scale(1);
}
.target:hover {
    transform: scale(1.01);
    /* Only the value of scale() changed */
}

input {
    text-align: center;
    font-family: "montserrat";
    box-shadow: inset;
    padding: 2px 2px 3px;
    letter-spacing: 4px;
}
.footer-section {
    text-align: center;
    background-color: #BAD7E9;
    padding: 2% 15%;

}

#footer1{

    text-align: center;
    padding:1% 15%;
}
.share-icon{
    padding:1%;
    margin: 20px 10px;
    font-size: 2rem;
}